<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nuevo Producto</title>
</head>
<body>

  <form method="post">

    {% csrf_token %}

    Nombre: <input type="text" name="nombre">
    <br><br>
    Precio: <input type="number" name="precio">
    <br><br>

    Marca:
    <select name="marca">

      {% for marca in marcas %}
          <option value="{{ marca.id }}">{{ marca.nombre }}</option>
      {% endfor %}

    </select>

    <br><br>

    <input type="submit" value="Guardar">

  </form>

</body>
</html>